
@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/poppins/Poppins-Regular.ttf")  format("truetype");;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/poppins/Poppins-SemiBold.ttf")  format("truetype");;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/poppins/Poppins-Bold.ttf")  format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root{
    --main-bg-color: #171717;
    --primary-color: #FD853A;
    --secondary-color: #EDECEC;
    --third-color: #FFEBDB;
    --fourth-color: #E2E2E2;
    --font-light: 400;
    --font-bold: 700;
    --semi-bold: 600;
    --primary-font: "Poppins", serif;
    --bg-dashboard: #F9FBFF;
    --backend-text-primary-color: #9197B3;
    --backend-secondary-color: #5932EA;
}

body{
  font-family: var(--primary-font);
  overflow-x: hidden;
}
h2{
    font-weight: 700;
    font-style: normal;
   
}


progress {
    appearance: none;
    -webkit-appearance: none; 
    width: 100%;
    height: 10px;
    background-color: var(--primary-color); 
    border-radius: 5px;
    overflow: hidden;
  }
  

  progress::-webkit-progress-bar {
    background-color: var(--secondary-color); 
  }
  
  progress::-webkit-progress-value {
    background-color: var(--primary-color); 
  }
  

  progress::-moz-progress-bar {
    background-color: var(--primary-color); 
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

 
  input[type="number"] {
      -moz-appearance: textfield;
  }

  .hamburgerSlide{
    overflow: hidden;
  }
